#dak-nav
{
	background-color:#DC2E2E;
}

#dak-nav a
{
	color:White;
}

#dak-nav ul
{
	color:White;
	padding: 5px 15px 5px 5px;
	right: 14px;
    position: relative;

}

.dakonon-line
{
	border-width:3px;
	border-color:#DC2E2E;
	max-width: 350px;
	padding-bottom:15px;
}

footer
{
	background-color:#DC2E2E;
	color:White;
	padding: 10px 5px 5px 5px;
}

::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: rgba(255, 7, 7, 0.23);;
/*    border-radius: 10px;*/
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #DC2E2E;

}
